<html lang="en">
<head>
    <title>Error - {{message}}</title>
</head>
<body>
    <div class="container">
        <a href="/">BACK TO HOME</a>
        <p >{{message}} !!!</p>
    </div>
</body>
</html>