<div>
    <header>
        <h1>News</h1>
        <i class="fa-solid fa-magnifying-glass"></i>
        </header>
    <nav>
        <ul>

        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/social">Social Media</a></li>

        </ul>
    </nav>
    </div>